<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>看看我的view能用吗</p>
</body>
</html>







<script>
    $.ajax({
        url:'/home/users/sign/today',
        type:'post',
        async:true,
        data:{'type':1},
        dataType:'json',
        success: function(res){
            console.log(11111);
        }
    });

    $.ajax({
        url:'/home/users/sign/today',
        type:'post',
        async:true,
        data:{},
        dataType:'json',
        success: function(res){
            console.log(2222);

        }
    });

    $.ajax({
        url:'/home/users/sign/today',
        type:'post',
        async:true,
        data:{},
        dataType:'json',
        success: function(res){
            console.log(3333);

        }
    });
</script>